# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Database files
*.db
*.sqlite3

# IDE files
.idea/
.vscode/

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db 